<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>SmDevOps Broadcaster</title>
  </head>
  <body>
    <div>
      <form>
        <label>
          Type your Name
          <input id="name" type="text" name="name" />
        </label>
        <label>
          Type the room number
          <input id="room" type="number" name="room" />
          <input id="room" type="hidden" name="room" />
        </label>
        <input
          id="broadcastBtn"
          type="submit"
          name="broadcast"
          value="Join as Broadcaster"
        />
        <input id="viewBtn" type="submit" name="view" value="Join as Viewer" />
      </form>
    </div>
    <script>
      let name;
      let room;

      const setupListeners = () => {
        document.getElementById("broadcastBtn").onclick = function (e) {
          handleSubmit(e);
        };
        document.getElementById("viewBtn").onclick = function (e) {
          handleSubmit(e);
        };
        document.getElementById("name").onchange = function (e) {
          handleChange(e);
        };
        document.getElementById("room").onchange = function (e) {
          handleChange(e);
        };
        const handleChange = (e) => {
          if (e.target.name === "name") name = e.target.value;
          if (e.target.name === "room") room = e.target.value;
        };
      };

      setupListeners();

      const handleSubmit = (e) => {
        e.preventDefault();
        if (!name || !room) {
          alert("Missing Required Fields");
          return;
        }
        location.replace(`/${room}?action=${e.target.name}&name=${name}`);
      };
    </script>
  </body>
</html>
